.card {
  width: 18rem;
  margin-bottom: 10px;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 48px;
}

.card-body {
  padding-bottom: 13px;
}

.card-img-top {
  width: 100%;
  height: 420px;
}

.card-title {
  margin-bottom: 0.75rem;
  min-height: 47px;
  display: flex;
  align-items: center;
  height: 20%;
}

.button-wrapper {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.more-button {
  margin-bottom: 7px;
  margin-right: 7px;
}

.favorite-button {
  margin-bottom: 7px;
  right: 20px;
}


