.top-area {
  text-align: center;
}

.registration-form {
  width: 75%;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.register-button {
  margin: 0 auto;
}