.movie-view {
  position: static;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.movie-poster {
  max-height: 400px;
}

.movie-genre,
.movie-director {
  display: flex;
  justify-content: center;
  align-items: center;
}