.welcome-area {
  text-align: center;
}

.login-toggle {
  margin-right: 5px;
}

.register-link {
  margin-left: 5px;
}

.login-form {
  width: 75%;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.login-button {
  margin: 0 auto;
}